[submodule "frontend"]
	path = frontend
	url = https://@github.com/luisfelipedussan/Product-Frontend.git
[submodule "backend"]
	path = backend
	url = https://@github.com/luisfelipedussan/Productbackend.git
